{% extends 'base.html.twig' %}
{% block person %}
    class="active"
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Persons</h4>
                        <p class="category">List of Certified Persons</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table id="datatables" class="table table-striped table-no-bordered table-hover material-datatables" cellspacing="0" width="100%" style="width:100%">
                            <thead>
                            <tr>
                                <th>ID Number</th>
                                <th>Name</th>
                                <th>Country</th>
                                <th>Views</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for person in persons %}
                            <tr>
                                <td class="text-primary"><a href="{{ path('edit-person', {'id': person.id}) }}">{{ person.idNumber }}</a> </td>
                                <td>{{ person.fullNames }}</td>
                                <td>{{ person.country }}</td>
                                <td>{% for views in person.numberOfViews %}
                                        {{ views.hits }}
                                    {% endfor %}
                                </td>
                                <td class="text-primary">
                                    <a title="Manage Profile" href="{{ path('new-profile', {'id': person.id }) }}" class="btn btn-simple btn-warning btn-icon edit"><i class="material-icons">person_outline</i></a>
                                    <a title="Manage Profile" href="{{ path('new-education', {'id': person.id}) }}" class="btn btn-simple btn-warning btn-icon edit"><i class="material-icons">school</i></a>

                                </td>
                            </tr>
                            {% else %}
                            <tr><td class="text-primary">
                                    No Persons on Record

                                </td> </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
