{% extends 'base.html.twig' %}
{% block class %}
    class="active"
{% endblock %}
{% block body%}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="orange">
                        <i class="material-icons">content_copy</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Used Space</p>
                        <h3 class="title">49/50
                            <small>GB</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">warning</i>
                            <a href="#pablo">Get More Space...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="green">
                        <i class="material-icons">store</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Profiles</p>
                        <h3 class="title">$34,245</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Last 7 Days
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="red">
                        <i class="material-icons">info_outline</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Persons</p>
                        <h3 class="title">75</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">local_offer</i> Unique Persons
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="blue">
                        <i class="fa fa-twitter"></i>
                    </div>
                    <div class="card-content">
                        <p class="category">Organizations</p>
                        <h3 class="title">+245</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Professional Organizations
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card card-nav-tabs">
                    <div class="card-header" data-background-color="purple">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">Logs:</span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="active">
                                        <a href="#profile" data-toggle="tab">
                                            <i class="material-icons">person</i> Person
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#messages" data-toggle="tab">
                                            <i class="material-icons">bubble_chart</i> Organizations
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#settings" data-toggle="tab">
                                            <i class="material-icons">supervisor_account</i> Users
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="tab-content">
                            <div class="tab-pane active" id="profile">
                                <table class="table">
                                    <tbody>
                                   {% for log in personLogs %}
                                    <tr>

                                        <td style="width: 30%">{{ log.createdAt | date('d-m-Y') }}</td>
                                        <td class="td-actions text-right">
                                            {{ log.log }}
                                        </td>
                                    </tr>
                                       {% else %}
                                       <tr>
                                           <td>No Logs</td>
                                       </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="messages">
                                <table class="table">
                                    <tbody>
                                    {% for log in organizationLogs %}
                                        <tr>
                                            <td style="width: 30%">{{ log.createdAt | date('d-m-Y') }}</td>
                                            <td class="td-actions text-right">
                                                {{ log.log }}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td>No Logs</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="settings">
                                <table class="table">
                                    <tbody>
                                    {% for log in userLogs %}
                                        <tr>

                                            <td style="width: 30%">{{ log.createdAt | date('d-m-Y') }}</td>
                                            <td class="td-actions text-right">
                                                {{ log.log }}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td>No Logs</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="orange">
                        <h4 class="title">View Stats</h4>
                        <p class="category">Profile View Stats on  <script>
                                document.write(new Date().toDateString())
                            </script></p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                            <tr><th>ID</th>
                                <th>Name</th>
                                <th>Views</th>
                                <th>Country</th>
                            </tr></thead>
                            <tbody>
                            {% for stat in stats %}
                            <tr>
                                <td>{{ loop.index }} </td>
                                <td>{{ stat.person.fullNames }}</td>
                                <td>{{ stat.hits }}</td>
                                <td>{{ stat.person.country }}</td>
                            </tr>
                            {% else %}
                                No Users Available
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/material-dashboard.js') }}"></script>
    <script src="{{ asset('assets/js/demo.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {

            // Javascript method's body can be found in assets/js/demos.js
            demo.initDashboardPageCharts();

        });
    </script>
{% endblock %}